@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #171717;
  }
}

html {
  color-scheme: light dark; 
}

body {
  /* Evita el efecto rebote elástico en móviles que suele causar parpadeos blancos/negros */
  overscroll-behavior-y: none;
  background-color: #000000;
}